<div class="container">
  <table class="table table-sm">
    <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let entry of entries'
      [@trans]="'in'">
        <td>{{entry.name}}</td>
        <td class="cell-number">
          <input type="number" [(ngModel)]='entry.quantity'>
        </td>
        <td class="cell-number"><input type="text" [(ngModel)]="entry.unitPrice"></td>
        <td>
          <select name="" id="" [(ngModel)]='entry.type'>
            <option *ngFor='let groceryType of allGroceryTypes()' [value]='groceryType.index'>{{groceryType.name}}</option>
          </select>
        </td>
        <th (click)='removeEntry(entry)'><i class="fa fa-minus-circle text-danger" aria-hidden="true"></i></th>
      </tr>
    </tbody>
    <tfoot>
      <th colspan="4" (click)='addEntry()'><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
    </tfoot>
  </table>
</div>