/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
  padding-top: 5rem;
}

html {
  position: relative;
  min-height: 100%;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
